* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.main {
    text-align: center;
    height: 100vh;
    background-color: hsl(0, 100%, 74%);
    background-image: url("./images/bg-intro-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    gap: 20px;
    flex-wrap: wrap;
}
.brief {
    text-align: left;
    color: #fff;
    width: 500px;
}

.brief h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

.brief p {
    font-size: 16px;
}

.signup {
    width: 500px;

}

.signup a {
    display: block;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 4px 0px rgb(0 0 0 / 15%);
}

.signup a span {
    font-weight: 600;
}

.signup__form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}


.signup__form input {  
    color: #333;
    font-weight: 600;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.signup__form input:focus-visible {
    border-color: hsl(249, 10%, 26%);
    border-width: thin;
    border-radius: 5px;
    outline: none;

}

.signup__form input::placeholder {
    color: #333;
    font-weight: 600;
}

.signup__form .form-message {
    float: right;
    font-size: 14px;
}

.signup__form button {
    width: 100%;
    padding: 15px;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.signup__form button:hover {
    background-color: hsl(0, 100%, 74%);
    cursor: pointer;
}

.signup__form p {
    color:#777;
    font-size: 12px;
    margin: 10px 0;
}

.signup__form p > span {
    color:hsl(0, 100%, 74%);
}

.form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }

.form-group {
    margin: 18px 0;
}

.remove {
    display: none;
}

.display {
    display: block;
    float: right;
    position: relative;
    top: -40px;
    right: 10px;
}

@media only screen and (max-width: 450px) {
    
    .main {
        background-image: url("./images/bg-intro-mobile.png");
    }
    
    .brief h1 {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .brief p {
        text-align: center;
        line-height: 20px;
    }

    .signup a {
        padding: 18px 70px;
        line-height: 23px;
    }
}